<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	
	<!-- 开启注解驱动，支持@RequestMapping注解 -->
	<mvc:annotation-driven>
		<mvc:message-converters>
		
			<!-- 字符串格式的消息转换器，用于设置响应结果的字符集编码，处理ajax乱码问题 -->
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
			</bean>
			<!-- fastjson自带的对象json转换的消息转换器，用于将对象转换为json格式的字符串返回给客户端 -->
			<bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html;charset=UTF-8</value>
						<value>application/json;charset=UTF-8</value>
                    </list>
				</property>
				<!-- 设置日期转换的格式为yyyy-MM-dd HH:mm:ss，如果你不想要这种格式，则可以使用注解个性化设置 -->
				<property name="features">
					<array>
						<value>WriteDateUseDateFormat</value>
					</array>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	
	<!-- 配置视图解析器，把controller返回的字符串，映射到指定的jsp -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/page/"/> <!-- 前缀 -->
		<property name="suffix" value=".jsp"/> <!-- 后缀 -->
	</bean>
	
	<!-- 配置文件上传的解析器 -->
	<!-- id必须叫这个名字，因为Spring在这部分是根据BeanId来查找 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="5000000000"/>
		<property name="defaultEncoding" value="UTF-8"/>
	</bean>


	<!--<mvc:interceptors>-->
		<!--<bean class="org.springframework.orm.hibernate5.support.OpenSessionInViewInterceptor">-->
			<!--<property name="sessionFactory" ref="sessionFactory"/>-->
		<!--</bean>-->
	<!--</mvc:interceptors>-->
	
	<!-- <mvc:resources location="/statics/" mapping="/statics/**"/> -->
	
	<import resource="applicationContext.xml"/>
</beans>
